mat-toolbar {
    background-color: #673ab7 !important;
    color: white !important;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #673ab7 !important;
    color: white !important;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(80vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    color: lightgray;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.logo{
    height:100%;
    margin-right: 12px;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    margin: 8px 0px 0px 0px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

.footer {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
}

.footer > span {
    font-size: 1.1rem;
    font-weight: 300;
}

.divButtons{
    text-align: right;
    margin-top: 32px;
}
